.gcloudignore
.git
.gitignore
node_modules/
.ignored/
.venv/
.next/
.evidence/
target/
analysis/evidence/node_modules/
analytics/evidence/node_modules/
analytics/evidence/build/
analytics/evidence/.evidence/
transformation/dbt/target/
transformation/dbt/dbt_packages/
logs/
*.duckdb
*.db
*.parquet
*.jsonl
*.csv
